body {
  font-family: 'Raleway', sans-serif;
}

header {
  color: white;
  background-color: black;
  height: 120px;
  margin: 0 20px;
  text-align: center;
}

header h1 {
  font-family: 'Megrim', 'Raleway', sans-serif;
  margin: 10px 0;
  padding-top: 10px;
  font-size: 52px;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
}

nav a:hover {
  transform: scale(1.2);
  transition-duration: 0.05s;
}

#home {
  background: url('images/headshot') no-repeat;
  height: 600px;
  background-size: cover;
  filter: grayscale(1.0);
  margin: 0 20px;
}

#projects, #contact, footer {
  text-align: center;
}

.project {
  width: 47%;
  display: inline-block;
  margin: 18px;
  min-width: 600px;
  line-height: 1.4;
}

.project img{
  width: 600px;
  height: 400px;
}

.project a {
  text-decoration: none;
  color: black;
}

.project a:hover {
  color: blue;
}

b {
  font-size: 20px;
}

section h2 {
  margin-top:50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

#about p {
  text-align: center;
  max-width: 800px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.experience {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.experience img {
  width: 150px;
  height: 100px;
  height: auto;
  filter: grayscale(1.0);
  margin-bottom: -30px;
}

#contact ul li {
  display: inline-block;
  margin: 10px;
  padding-right: 50px;
  width: 100px;
}

#contact ul li img:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.25s;
}
